In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("iris.csv")

In [3]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
del data['Id']

In [5]:
data.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
data.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [7]:
from matplotlib import pyplot as plt

In [8]:
data.corr()

               SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm       1.000000     -0.109369       0.871754      0.817954
SepalWidthCm       -0.109369      1.000000      -0.420516     -0.356544
PetalLengthCm       0.871754     -0.420516       1.000000      0.962757
PetalWidthCm        0.817954     -0.356544       0.962757      1.000000

In [9]:
data.groupby('Species').sum()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              250.3         170.9           73.2          12.2
Iris-versicolor          296.8         138.5          213.0          66.3
Iris-virginica           329.4         148.7          277.6         101.3

In [10]:
data['Species']=data['Species'].replace({"Iris-setosa":0,"Iris-virginica":1,"Iris-versicolor":2})

In [11]:
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        1
146            6.3           2.5            5.0           1.9        1
147            6.5           3.0            5.2           2.0        1
148            6.2           3.4            5.4           2.3        1
149            5.9           3.0            5.1           1.8        1

[150 rows x 5 columns]

In [12]:
#  for data shuffel
data=data.sample(frac=1)

In [13]:
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
35             5.0           3.2            1.2           0.2        0
28             5.2           3.4            1.4           0.2        0
123            6.3           2.7            4.9           1.8        1
51             6.4           3.2            4.5           1.5        2
120            6.9           3.2            5.7           2.3        1
..             ...           ...            ...           ...      ...
46             5.1           3.8            1.6           0.2        0
149            5.9           3.0            5.1           1.8        1
53             5.5           2.3            4.0           1.3        2
68             6.2           2.2            4.5           1.5        2
128            6.4           2.8            5.6           2.1        1

[150 rows x 5 columns]

In [14]:
tain_data=data[:round(len(data)*0.70)]
test_data=data[:round(len(data)*0.30)]

In [15]:
test_data.shape

(45, 5)

In [16]:
tain_data.shape

(105, 5)

In [17]:
tain_y=tain_data['Species']
del tain_data['Species']
tain_x= tain_data

In [18]:
tain_x.shape

(105, 4)

In [19]:
test_y=test_data['Species']
del test_data['Species']
test_x= test_data

In [20]:
test_x.shape

(45, 4)

In [21]:
tain_x.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
35             5.0           3.2            1.2           0.2
28             5.2           3.4            1.4           0.2
123            6.3           2.7            4.9           1.8
51             6.4           3.2            4.5           1.5
120            6.9           3.2            5.7           2.3

In [22]:
tain_y.head()

35     0
28     0
123    1
51     2
120    1
Name: Species, dtype: int64

In [23]:
#  change int into categorical
from keras.utils import to_categorical
y_train = to_categorical(tain_y, 3)
y_test = to_categorical(test_y, 3)

In [24]:
y_test

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.]], dtype=float32)

In [25]:
from keras import models
from keras import layers

In [26]:

network = models.Sequential()
network.add(layers.Dense(100, activation='relu', input_shape=(4,)))
network.add(layers.Dense(150, activation='relu'))
network.add(layers.Dense(250, activation='relu'))
network.add(layers.Dense(150, activation='relu'))
network.add(layers.Dense(100, activation='relu'))
network.add(layers.Dense(50, activation='relu'))
network.add(layers.Dense(3, activation='softmax'))

In [27]:
network.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])

In [28]:
network.fit(tain_x,y_train, epochs=12)

Epoch 1/12
4/4 [==============================] - 0s 8ms/step - loss: 1.0543 - accuracy: 0.4762
Epoch 2/12
4/4 [==============================] - 0s 4ms/step - loss: 0.8824 - accuracy: 0.5238
Epoch 3/12
4/4 [==============================] - 0s 4ms/step - loss: 0.6116 - accuracy: 0.7143
Epoch 4/12
4/4 [==============================] - 0s 2ms/step - loss: 0.5651 - accuracy: 0.6762
Epoch 5/12
4/4 [==============================] - 0s 2ms/step - loss: 0.4354 - accuracy: 0.8571
Epoch 6/12
4/4 [==============================] - 0s 4ms/step - loss: 0.3500 - accuracy: 0.9333
Epoch 7/12
4/4 [==============================] - 0s 4ms/step - loss: 0.4959 - accuracy: 0.7714
Epoch 8/12
4/4 [==============================] - 0s 4ms/step - loss: 0.3082 - accuracy: 0.9143
Epoch 9/12
4/4 [==============================] - 0s 4ms/step - loss: 0.6325 - accuracy: 0.6190
Epoch 10/12
4/4 [==============================] - 0s 4ms/step - loss: 0.2721 - accuracy: 0.9524
Epoch 11/12
4/4 [==============================] - 0s 4ms/step - loss: 0.3190 - accuracy: 0.8190
Epoch 12/12
4/4 [==============================] - 0s 6ms/step - loss: 0.3616 - accuracy: 0.8286

In [29]:
network.evaluate(test_x,y_test)

2/2 [==============================] - 0s 0s/step - loss: 0.2039 - accuracy: 0.9111

[0.20388486981391907, 0.9111111164093018]

# Apply L1 and L2 Regularization

In [30]:
from keras import regularizers

In [31]:
network = models.Sequential()
network.add(layers.Dense(100, activation='relu', input_shape=(4,),kernel_regularizer=regularizers.l2(0.001)))
network.add(layers.Dense(150, activation='relu',kernel_regularizer=regularizers.l2(0.001)))
network.add(layers.Dense(250, activation='relu',kernel_regularizer=regularizers.l2(0.001)))
network.add(layers.Dense(150, activation='relu',kernel_regularizer=regularizers.l2(0.001)))
network.add(layers.Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.001)))
network.add(layers.Dense(50, activation='relu',kernel_regularizer=regularizers.l2(0.001)))
network.add(layers.Dense(3, activation='softmax'))

In [32]:
network.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])
network.fit(tain_x,y_train, epochs=12)

Epoch 1/12
4/4 [==============================] - 0s 8ms/step - loss: 1.6667 - accuracy: 0.4476
Epoch 2/12
4/4 [==============================] - 0s 4ms/step - loss: 1.4661 - accuracy: 0.6000
Epoch 3/12
4/4 [==============================] - 0s 4ms/step - loss: 1.1759 - accuracy: 0.6571
Epoch 4/12
4/4 [==============================] - 0s 4ms/step - loss: 0.9943 - accuracy: 0.6667
Epoch 5/12
4/4 [==============================] - 0s 4ms/step - loss: 0.8735 - accuracy: 0.8381
Epoch 6/12
4/4 [==============================] - 0s 2ms/step - loss: 0.9666 - accuracy: 0.7810
Epoch 7/12
4/4 [==============================] - 0s 4ms/step - loss: 0.9055 - accuracy: 0.7238
Epoch 8/12
4/4 [==============================] - 0s 4ms/step - loss: 0.7634 - accuracy: 0.8571
Epoch 9/12
4/4 [==============================] - 0s 4ms/step - loss: 0.8257 - accuracy: 0.7143
Epoch 10/12
4/4 [==============================] - 0s 4ms/step - loss: 0.7915 - accuracy: 0.7333
Epoch 11/12
4/4 [==============================] - 0s 2ms/step - loss: 0.7034 - accuracy: 0.8381
Epoch 12/12
4/4 [==============================] - 0s 4ms/step - loss: 0.6963 - accuracy: 0.8571

In [33]:
network.evaluate(test_x,y_test)

2/2 [==============================] - 0s 4ms/step - loss: 0.6123 - accuracy: 0.8889

[0.6122586727142334, 0.8888888955116272]

# Adding Dropout

In [36]:
network = models.Sequential()
network.add(layers.Dense(100, activation='relu', input_shape=(4,)))
network.add(layers.Dropout(0.5))
network.add(layers.Dense(150, activation='relu'))
network.add(layers.Dense(250, activation='relu'))
network.add(layers.Dropout(0.5))
network.add(layers.Dense(150, activation='relu'))
network.add(layers.Dense(100, activation='relu'))
network.add(layers.Dropout(0.5))
network.add(layers.Dense(50, activation='relu'))
network.add(layers.Dense(3, activation='softmax'))

In [38]:
network.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])
network.fit(tain_x,y_train, epochs=20)

Epoch 1/20
4/4 [==============================] - 0s 6ms/step - loss: 0.7022 - accuracy: 0.6381
Epoch 2/20
4/4 [==============================] - 0s 4ms/step - loss: 0.5701 - accuracy: 0.7714
Epoch 3/20
4/4 [==============================] - 0s 4ms/step - loss: 0.6015 - accuracy: 0.6571
Epoch 4/20
4/4 [==============================] - 0s 4ms/step - loss: 0.4795 - accuracy: 0.7619
Epoch 5/20
4/4 [==============================] - 0s 6ms/step - loss: 0.5236 - accuracy: 0.6857
Epoch 6/20
4/4 [==============================] - 0s 4ms/step - loss: 0.4773 - accuracy: 0.7333
Epoch 7/20
4/4 [==============================] - 0s 4ms/step - loss: 0.5294 - accuracy: 0.6952
Epoch 8/20
4/4 [==============================] - 0s 4ms/step - loss: 0.4813 - accuracy: 0.7238
Epoch 9/20
4/4 [==============================] - 0s 4ms/step - loss: 0.5435 - accuracy: 0.7048
Epoch 10/20
4/4 [==============================] - 0s 4ms/step - loss: 0.4992 - accuracy: 0.7333
Epoch 11/20
4/4 [==============================] - 0s 6ms/step - loss: 0.4939 - accuracy: 0.7048
Epoch 12/20
4/4 [==============================] - 0s 4ms/step - loss: 0.4358 - accuracy: 0.8000
Epoch 13/20
4/4 [==============================] - ETA: 0s - loss: 0.4691 - accuracy: 0.75 - 0s 4ms/step - loss: 0.4186 - accuracy: 0.7619
Epoch 14/20
4/4 [==============================] - 0s 4ms/step - loss: 0.5230 - accuracy: 0.6857
Epoch 15/20
4/4 [==============================] - 0s 4ms/step - loss: 0.4162 - accuracy: 0.7619
Epoch 16/20
4/4 [==============================] - 0s 4ms/step - loss: 0.4646 - accuracy: 0.7619
Epoch 17/20
4/4 [==============================] - 0s 4ms/step - loss: 0.3770 - accuracy: 0.8571
Epoch 18/20
4/4 [==============================] - 0s 4ms/step - loss: 0.4209 - accuracy: 0.8095
Epoch 19/20
4/4 [==============================] - 0s 4ms/step - loss: 0.3690 - accuracy: 0.7905
Epoch 20/20
4/4 [==============================] - 0s 2ms/step - loss: 0.3661 - accuracy: 0.8667

In [39]:
network.evaluate(test_x,y_test)

2/2 [==============================] - 0s 0s/step - loss: 0.3036 - accuracy: 0.8444

[0.3035793602466583, 0.8444444537162781]